.banner {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,1)), url(../../content/showreel.mp4);
	padding: 180px 0px;
	background-size: cover;
	background-position: center;
}