.card {
	position: relative;
	text-align: center;
	color: white;
	align-items: center;
	justify-content: space-between;
}

.card img{
	width: 400px;
}

.card:hover{
	transition: 0.3s;
	opacity: 0.5;
	font-size: 20px;
}

.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}